<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE sqlMapConfig 
  PUBLIC "-//ibatis.apache.org//DTD SQL Map Config 2.0//EN" 
  "http://ibatis.apache.org/dtd/sql-map-config-2.dtd">
<sqlMapConfig>
 <properties resource="server.properties"/>

 <settings cacheModelsEnabled="true" 
 enhancementEnabled="true" 
 lazyLoadingEnabled="true" 
 errorTracingEnabled="true"
 useStatementNamespaces="false"/>
 <transactionManager type="JDBC">
 <dataSource type="SIMPLE">
  <property name="JDBC.Driver" value="${DRIVER}"/>
  <property name="JDBC.ConnectionURL" value="${URL}"/>
  <property name="JDBC.Username" value="${USERNAME}"/>
  <property name="JDBC.Password" value="${DB_PASSWORD}"/>
  <property name="JDBC.DefaultAutoCommit" value="false"/>
  <property name="Pool.MaximumActiveConnections" value="250"/>
  <property name="Pool.MaximumIdleConnections" value="20"/>
  <property name="Pool.MaximumCheckoutTime" value="120000"/>
  <property name="Pool.TimeToWait" value="500"/>
  <property name="Pool.PingQuery" value="select 1"/>
  <property name="Pool.PingEnabled" value="false"/>
  <property name="Pool.PingConnectionsOlderThan" value="1"/>
  <property name="Pool.PingConnectionsNotUsedFor" value="1"/>
  <property name="Pool.QuietMode" value="true"/>
 </dataSource>
 </transactionManager>

 <sqlMap resource="globalSqlIncludes.xml"/>
 <sqlMap resource="loginTrackerService.xml"/>
 <sqlMap resource="auditTrailService.xml"/>
 <sqlMap resource="documentService.xml"/>
 <sqlMap resource="reportService.xml"/>
 <sqlMap resource="paymentService.xml"/>
 <sqlMap resource="schedulingService.xml"/>
 <sqlMap resource="workListServiceIncludes.xml"/>
  <sqlMap resource="workListAssignmentCondition.xml"/>
 <sqlMap resource="workListDynamicAssignmentService.xml"/>
 <sqlMap resource="workListQueryService.xml"/>
 <sqlMap resource="workListTabEvaluationService.xml"/>
 <sqlMap resource="workListTabService.xml"/>
 <sqlMap resource="wlgService.xml"/>
 <sqlMap resource="workListManagementService.xml"/>
 <sqlMap resource="workListManagementSearchService.xml"/>
 <sqlMap resource="workListManagementPortfolio.xml"/>
 <sqlMap resource="roleService.xml"/> 
 <sqlMap resource="userService.xml"/> 
 <sqlMap resource="employeeService.xml"/>
 <sqlMap resource="agencySetupService.xml"/>
 <sqlMap resource="parameterService.xml"/>
 <sqlMap resource="holidayService.xml"/>
 <sqlMap resource="systemConfigService.xml"/>
 <sqlMap resource="branchSetupService.xml"/>
 <sqlMap resource="customerTreeService.xml"/>
 <sqlMap resource="customerSearchService.xml"/>
 <sqlMap resource="camService.xml"/>
 <sqlMap resource="customerLockService.xml"/>
 <sqlMap resource="TreatmentWorkpadService.xml"/>
 <sqlMap resource="meetingService.xml"/>
 <sqlMap resource="accountClassificationService.xml"/>
 <sqlMap resource="ccrisService.xml"/>
 <sqlMap resource="pacService.xml"/>
 <sqlMap resource="smsService.xml"/>
 <sqlMap resource="ptpService.xml"/>
 <sqlMap resource="letterService.xml"/>
 <sqlMap resource="emailService.xml"/>
 <sqlMap resource="tpsService.xml"/>
 <sqlMap resource="appTrackingService.xml"/>
  <sqlMap resource="pdcService.xml"/>
  <sqlMap resource="ramciService.xml"/>
  <sqlMap resource="kpiService.xml"/>
  <sqlMap resource="camHistoryService.xml"/>
  <sqlMap resource="contactInformationService.xml"/>
  <sqlMap resource="shortfallNoticeService.xml"/>
  <sqlMap resource="escalationService.xml" />
  <sqlMap resource="instructionService.xml" />
  <sqlMap resource="employmentMaintenanceStatusService.xml" />
  <sqlMap resource="accountReviewService.xml" />
  <sqlMap resource="outlookService.xml" />
   <sqlMap resource="managementApprovalService.xml" />
   <sqlMap resource="promiseEvaluationService.xml" />
  <sqlMap resource="treeService.xml"/>
  <sqlMap resource="camAccountService.xml"/>
  <sqlMap resource="batchService.xml"/>
  <sqlMap resource="camLedgerService.xml"/>
  <sqlMap resource="24MonthsProfileService.xml"/>
   <sqlMap resource="dialerService.xml"/>
   <sqlMap resource="camPaymentsMessagesService.xml"/>
   <sqlMap resource="ctiExtractionService.xml"/>
   <sqlMap resource="auctionDetailsTreatmentServices.xml"/>
   <sqlMap resource="repoTreatmentProcessService.xml"/>
   <sqlMap resource="auctionSetupService.xml"/>
   <sqlMap resource="wlgSnapshot.xml"/>
   <sqlMap resource="paymentTrendService.xml"/>
  <sqlMap resource="legalSetupService.xml"/>
  <sqlMap resource="monitoringService.xml"/> 
  <sqlMap resource="legalWorklistService.xml"/> 
  <sqlMap resource="exclusionEvaluationService.xml"/>
  <sqlMap resource="assignmentEvaluationService.xml"/>
  <sqlMap resource="instructionEvaluationService.xml"/>
  <sqlMap resource="ecaWorklistService.xml"/>
  <sqlMap resource="visualExecutionService.xml"/>
  <sqlMap resource="billingService.xml"/>
   <!-- PowerAgency Lite Services -->
 <sqlMap resource="agencyWorklistTabServiceLite.xml"/>
 <sqlMap resource="agencyWorklistManagementServiceLite.xml"/>
 <sqlMap resource="agencyCustomerSearchServiceLite.xml"/>
   <sqlMap resource="redemptionStatementService.xml"/>
   <sqlMap resource="instructEcaService.xml"/>
   <sqlMap resource="workListTabAgencyAssignedService.xml"/>
    <sqlMap resource="visitationService.xml"/>
   <sqlMap resource="earmarkSetoffService.xml"/>
   <sqlMap resource="instructLegalService.xml"/>
   <sqlMap resource="initiateRnrService.xml"/>
   <sqlMap resource="ecaJobSheetService.xml" />
   <sqlMap resource="rnrService.xml"/>
   <sqlMap resource="rnrTerminationService.xml"/>
    <sqlMap resource="ledgerBaseService.xml"/>
   <sqlMap resource="ledgerService.xml"/>
    <sqlMap resource="camRnrService.xml"/>
    <sqlMap resource="rnrRequestService.xml" />
    <sqlMap resource="notice14DaysService.xml" />
    <sqlMap resource="visitationManagementService.xml"/>
    <sqlMap resource="accountTaggingService.xml"/>
    <sqlMap resource="akpkBlanketApprovalService.xml"/>
    <sqlMap resource="akpkApprovalMatrixService.xml" />
     <sqlMap resource="legalMonitoringSearchService.xml" />
     <sqlMap resource="ecaMonitoringSearchService.xml"/>
     <sqlMap resource="legalActionService.xml"/>
     <sqlMap  resource="camLegalHistoryService.xml"/>
     <sqlMap resource="agencyInvoiceService.xml" />
     <sqlMap resource="ecaInstructionService.xml" />
     <sqlMap resource="legalBillingService.xml" />
     <sqlMap resource="dspService.xml"/>
     <sqlMap resource="legalStatusCcrisReport.xml"/>
      <sqlMap resource="ecaDynamicAssignmentService.xml"/>
</sqlMapConfig>